.selectContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  font-weight: 'bold';
}

.select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  color: var(--secondary-color);
  appearance: none;
  cursor: pointer;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.select:hover,
.select:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}

.selectIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  color: var(--secondary-color);
  pointer-events: none;
  transform: translateY(-50%);
}

.selectOption {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.selectOption:hover {
  background-color: var(--box-background);
}
