.prefecturesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  background-color: var(--box-background);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.checkboxItem {
  display: flex;
  gap: 10px;
  align-items: center;
  width: calc(13.333% - 5px); /* 7列 */
}

.checkboxItem input[type='checkbox'] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  appearance: none;
  cursor: pointer;
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.checkboxItem input[type='checkbox']:checked {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.checkboxItem input[type='checkbox']:checked::after {
  font-size: 14px;
  color: var(--primary-color);
  content: '✔';
}

.checkboxItem label {
  font-size: 0.9em;
  color: var(--secondary-color);
  cursor: pointer;
}

@media (width <= 1200px) {
  .checkboxItem {
    width: calc(20% - 8px); /* 5列 */
  }
}

@media (width <= 992px) {
  .checkboxItem {
    width: calc(25% - 8px); /* 4列 */
  }
}

@media (width <= 768px) {
  .checkboxItem {
    width: calc(33.333% - 10px); /* 3列 */
  }
}

@media (width <= 410px) {
  .checkboxItem {
    width: calc(50% - 10px); /* 2列 */
  }
}

@media (width <= 275px) {
  .checkboxItem {
    width: 100%; /* 1列 */
  }
}
